* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: auto;
    height: 100vh;

}

.navbar {
    height: 10vh;
    background-color: whitesmoke;
    width: 100%;
    border-bottom: 1px solid gray;
    box-shadow: 0px 10px 7px -10px #111;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar1 {
    height: 25vh;
    background-color: white;
}

.top-container {
    height: 80vh;
    background-color: white;
}

.middle-container {
    height: 80vh;
    background-color: white;
}

.bottom-container {
    height: 80vh;
    background-color: white;
}

.projects,
.equipments,
.request {
    float: left;
    background-color: white;
    height: 80%;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10%;
    border: 1px grey;
    border-style: dashed;
    position: relative;
}


.attendance,
.achievements {
    float: right;
    background-color: white;
    height: 80%;
    width: 35%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 10%;
    margin-left: 5%;
    border: 1px grey;
    border-style: dashed;
    position: relative;
}

.div6 {
    float: right;
    background-color: transparent;
    height: 100%;
    width: 50%;
}

.projects-title,
.attendance-title,
.equipments-title,
.acheievements-title,
.request-title {
    height: 25%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #D3D3D3;
}

.title-font {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 7vh;
    text-align: center;
    color: #522B5B;
}


/*projects page*/

.title {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 7vh;
    text-align: left;
    color: #522B5B;
    margin-left: 10%;
}




/*profile page*/
.navbar-profile {
    height: 10vh;
    background-color: white;
}

.navbar-profile1 {
    height: 30vh;
    background-color: white;
}

.top-containerprofile {
    height: 120vh;
    background-color: white;
}

.bio {
    float: left;
    background-color: white;
    height: 80%;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10%;
    border: 1px grey;
    border-style: solid;
    position: relative;
}

.subheadings {
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 7vh;
    text-align: left;
    color: #522B5B;
    margin-left: 8%;
}

.subheadings1 {
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 11vh;
    padding-left: 1vh;
    text-align: left;
    color: #522B5B;
    margin-left: 8%;
}

.image {
    margin-left: 8%;
    float: left;
    margin-top: 7vh;
}

.changedetails {
    float: right;
    background-color: white;
    height: 80%;
    width: 35%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 10%;
    margin-left: 5%;
    border: 1px grey;
    border-style: solid;
    position: relative;
}

.edit-title,
.bio-title {
    height: 15%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #D3D3D3;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    max-width: 80%;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 3%;
    margin-top: 10%;
    font-size: 30px;
    color: #522B5B;
    font-family: 'Open Sans', sans-serif;
}

input {
    width: 100%;

    padding: 5%;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #522B5B;
    color: #fff;
    padding: 5% 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    margin-top: 10%;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}