<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMS</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">

    </div>
    <div class="navbar1">

    </div>
    <div class="top-container">
        <div class="projects">
            <div class="projects-title">
                <h1 class="title-font">List of projects</h1>
            </div>
        </div>
        <% if (userRole === 'admin') { %>
        <div class="attendance">
            <div class="attendance-title">
                <h1 class="title-font">Attendance</h1>
            </div>
        </div>
        <% } %>
    </div>
    <div class="middle-container">
        <div class="equipments">
            <div class="equipments-title">
                <h1 class="title-font">List of equipments</h1>
            </div>
        </div>
        <div class="achievements">
            <div class="acheievements-title">
                <h1 class="title-font">List of achievements</h1>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="request">
            <div class="request-title">
                <h1 class="title-font">Request page</h1>
            </div>
        </div>
        <div class="div6"></div>
    </div>
</body>

</html>
